html {
    scroll-behavior:smooth;
}

body {
    margin: 0;
    padding-top: 100px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box;
}

header{
    background: #1A1A1A;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

header .logo {
    margin-left: 5px;
}

header .logo h1{
    font-size: 16px;
    margin: 0;
}

header .container nav li{
    list-style: none;
}

header .container nav ul{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 100px;
}

header .container nav li{
    list-style: none;
}

header .container nav li a{
    display: flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    transition: color 0.3s ease;
}

header .container nav li a:hover{
    color: red;
}

header .container .btn {
    text-decoration: none;
    color: #fff;
    background-color: red;
    padding: 10px 25px;
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.3s ease;
}

header .container .btn:hover {
    
    transform: translateY(-1px);
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 600px;
    padding: 20px;
    background: white;
    color: black;
}

.welcome h1 {
    font-size: 40px;
}

.welcome h4 {
    font-size: 20px;
    margin-top: 0;
    font-weight: 400;
}

.welcome .btn {
    padding: 12px 30px;
    background-color: rgb(86, 86, 227);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.welcome .btn:hover {
    transform: translateY(-2px);
}

.service {
    padding: 60px;
    background-color: #f8f9fa;
}

.service .container {
    max-width: 1100px;
    margin: auto;
    width: 100%;
}

.service .name {
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
    color: black;
}

.service .card-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.service .service-item {
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(61, 60, 60, 0.2);
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.service .service-item img {
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.service .service-item h3 {
    color: black;
    font-size: 22px;
    margin-bottom: 15px;
}

.service .service-item p {
    color: black;
    font-size: 15px;
    margin-bottom: 25px;
}

.service .service-item .btn {
    padding: 10px 25px;
    background-color: rgb(86, 86, 227);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 15px;
    transition: all 0.3s ease;
}

.service .service-item .btn:hover {
    transform: translateY(-3px);
    background-color: rgb(66, 66, 207);
    box-shadow: 0 5px 10px rgba(86, 86, 227, 0.4);
}

footer {
    background: #1A1A1A;
    color: #fff;
    padding: 40px;
}

footer .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
}

footer .name-logo p {
    margin-top:20px;
    color: #fff;
    font-size: 15px;
    
}

footer .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 330px;
}

footer .link a {
    color: #fff;
    text-decoration: none;
    line-height: 2.5;
    font-size: 15px;
    transition: all 0.3s ease;
    
}

footer .link a:hover {
    color: red;
    transform: translateX(5px);
}