.container {
    max-width: 90%;
    margin: auto;

}
.container .header-container{
    display: flex;
    flex-direction: column;
}
.container .header-container .top-bar {
    display: flex;
    justify-content: space-between;
}
.container .header-container .header-right {
    display: flex;
    align-items: center;
   
}
.container .header-right .input {
    position: relative;
}
.container .header-right .icon-left {
    position: absolute;
    left:17%;
    top:8px;
}
.container .header-right .icon-right {
    position: absolute;
    right:7px;
    top:9px;
}
.container .header-right input {
    width: 300px;
    height: 30px;
    padding:0 30px;
    border-radius: 20px;
}
.nav-icons {
    margin-top: 20px;
    margin-right: 100px;
}
.nav-icons ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-icons ul li {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-icons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color:black;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.nav-icons a i {
    font-size: 18px;
}
.main-nav ul li {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap:40px;
}
.main-nav a{
    display: flex;
    align-items: center;
    gap: 5px;
    color:black;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container img {
    width: auto;
    height: 250px;
    margin:30px;
}
.img-container .img-1, .img-2, .img-3, .img-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.img-container p {
    font-size: 16px;
    font-weight: bold;
    margin-top:0;
    text-align: center;
}
.footer {
    display: flex;
    color:black;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    gap:200px;
}
.contacts i {
    margin-right: 10px;
    font-size: 30px;
}